<!DOCTYPE html>

<html>
    <style>
   
        #btnSubmit{
            width:50%;
        }
    
    </style>

<head>
    <title>
        "Rock Paper Scissors Game"
    </title>

<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">


</head>
<body>
    <h1>Welcome to Rock Paper Scissors Game</h1>
    
    <hr>

    <h3>
    Rock is designated by maintaining the fist, Scissors by extending the middle and index fingers, and Paper by holding the hand out flat. <br> 
    If players throw out the same gesture, the game goes on. <br>
    If not, it's decided by a harmonic and intransitive method — rock crushes scissors, scissors cuts paper, but paper covers rock.
    </h3>
        

    <form action="/play" method="post">
        <input id="btnSubmit" type="submit" value="Let's play">
    </form>
</body>

</html>